@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap:wght@400;600;700&family=Hind+Vadodara:wght@400;600;700&display=swap');

:root{
  --font-1: 'Anton, sans-serif';
  --font-2: 'Asap, sans-serif';
  --font-3: 'Hind Vadodara, sans-serif';
}

html, body, #root, .app{
  height: 100%;
  background-color: #111d4a;
  @apply text-white
}
